{% block body %}
  <h1> {% block title %}{% endblock %} </h1>
  <form action="{{ url }}{% block action %}{% endblock %}" class="validate-form"  method="post" class="bg-light p-3 col-md-9">
      {% block form %}{% endblock %}
      <input type="submit" value="{% block submitName %}{% endblock %}" class='btn btn-info my-3' />
  </form>
{% endblock %}
