
  {% extends './baseModal.html.twig' %}
  {% block id_modal %}delete-confirm-modal{% endblock %}

{% block modal_title %}Usuwanie{% endblock %}
{% block modal_body %}<button type="submit" class="btn btn-danger">Usuń</button>{% endblock %}
