{% extends './mod.html.twig' %}
{% block modal_title %}{{data['website']}}{% endblock %}
{% block modal_body %}
  <div class="col-md-12">
    <div id="before" class="d-flex flex-column">
      <label for="pass">Hasło do konta</label>
      <input type="password" id="main-pass" class="form-control mb-3" />
      <button class="btn btn-secondary" id="main-pass-btn">Pokaż hasło</button>
    </div>

    <div id="after" class="mt-4">
      <label for="login" class="col-md-4 ">Login:</label>
      <div id="login" class="col-md-8 float-right">{{data['login']}}</div>
      <label for="password" class="col-md-4 ">Hasło:</label>
      <div id="passwd" class="col-md-8 float-right" >{{data['password']}}</div>
    </div>
  </div>
{% endblock %}
